form {
    display: inline-block;
    border: 1px solid gray;
}

label {
    width: 210px;
}

fieldset {
    border: none;
    display: flex;
}

input {
    width: 400px;
}

input[type="checkbox"]{
    width: auto;   
}

select {
    width: 400px;
    text-align: center;
}